<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>dc learn.js</h2>
        <p>
          learn.js is a community of people interested in learning how to code in JavaScript. We are open to people just starting their coding journey, and people who've been on this road for a long time. We welcome and encourage people of diverse backgrounds to join our group.
        </p>
        <p>
          We meet bi-monthly and offer a plethora of things to do! We will be having lab hours where people can bring their own projects, tutorials, books, and lessons and ask questions and receive help. We will be having talks or planned instruction on occasion on topics that are appealing to beginners and long-time JavaScripters alike.
        </p>
        <p>
          If you are interested in presenting, please email nikki.liz.murray@gmail.com and let us know what you want to talk about.
        </p>
        <p>
          The DC learn.js community is dedicated to providing a harassment-free experience for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of participants in any form.
        </p>
      </div>
      <div class="col-md-3">
        <h2>Chat</h2>
        <p>Join us on Slack!</p>
        <p><a class="btn btn-default btn-lg" href="http:/dclearnjsinvites.herokuapp.com" role="button">
            Request Invite &raquo;</a></p>
        <p><a class="btn btn-default btn-lg" href="https://dclearnjs.slack.com/" role="button">Slack &raquo;</a></p>
      </div>
      <div class="col-md-3">
        <h2>Links</h2>
        <p><a class="btn btn-default btn-lg" href="http://www.meetup.com/DC-learn-js" role="button"><i class="fa fa-calendar"></i>  Meetup</a></p>
        <p><a class="btn btn-default btn-lg" href="https://github.com/dclearnjs" role="button"><i class="fa fa-github-alt"></i>  GitHub</a></p>
      </div>
    </div>
  </div>
</div>
