<article id="events" class="main-events">
  <header>
    <h1>Upcoming Events</h1>
  </header>
  <section class="main-content">
    <div id="dclearnjs-meetup-card-collection" data-component="meetup-card-collection" data-meetup-card-max-return="5" data-meetup-card-url="http://api.meetup.com/2/events/?key=5341f755f76227c357174f3c94066&group_urlname=DC-learn-js &status=upcoming&order=time&limited_events=false&desc=false&callback=JSON_CALLBACK&offset=0&format=json&page=200&fields="></div>
  </section>
</article>
