<div class="row">
  <div class="well">
    <div class="col-md-4">
      <h3>Events</h3>
      <p>
        We meet bi-monthly and offer a plethora of things to do! We will be having lab hours where people can bring their own projects, tutorials, books, and lessons and ask questions and receive help. We will be having talks or planned instruction on occasion on topics that are appealing to beginners and long-time JavaScripters alike.
      </p>
    </div>
    <div class="col-md-4">
      <h3>Presenting</h3>
      <p>
        If you are interested in presenting, please email nikki.liz.murray@gmail.com and let us know what you want to talk about.
      </p>
    </div>
    <div class="col-md-4">
      <h3>Code of Conduct</h3>
      <p>
        The DC learn.js community is dedicated to providing a harassment-free experience for everyone, regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of participants in any form. See our <a href="/coc">Code of Conduct</a>.
      </p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
